@using TaskManagement.Data.Enums
@model TaskManagement.ViewModels.TaskEditViewModel

@{
    ViewData["Title"] = "Create";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control"
                        asp-items="@(Html.GetEnumSelectList<Priority>())"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"
                        asp-items="@(Html.GetEnumSelectList<Status>())"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="currentExecutors">Executors</label>
                <div class="col-sm-6">
                  <select multiple class="form-control text-center"
                          asp-for="currentExecutors"
                          asp-items="@(Model.possibleExecutors)"
                          required>
                  </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="currentReviewers">Reviewers</label>
                <div class="col-sm-6">
                  <select multiple class="form-control text-center"
                          asp-for="currentReviewers"
                          asp-items="@(Model.possibleReviewers)"
                          required>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-1" asp-action="Index">Вернуться к задачам</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
